/* Main Container */
.main-container {
  max-width: 1280px;
  margin: 0 auto; /* Center the container */
}

/* Card Styles */
.card-title {
  padding-bottom: 12px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Responsive Styles */
@media screen and (max-width: 620px) {
  .widget-card,
  .alert-item-wrapper {
    width: 100%;
  }
  .incident-card-container {
    gap: 1em;
  }
}

@media (min-width: 621px) and (max-width: 768px) {
  .widget-card,
  .alert-item-wrapper {
    width: 48%;
  }
  .incident-card-container {
    gap: 1em;
  }
  .alert-item-wrapper {
    height: 125px;
  }
  .alert-item-wrapper > div {
    height: 100%;
  }
}

@media screen and (min-width: 769px) {
  .widget-card {
    width: 48%;
  }
  .alert-item-wrapper {
    min-width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    min-width: 1024px;
  }
  .alert-item-wrapper {
    min-width: 22%;
  }
  .widget-card {
    width: 24%;
  }
}
